@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Track It!</h1>
        <p class="lead">This is a simple Tracking Application</p>
        <hr class="my-4">
        <p>Click <span class="alert-success">Add Orders</span> to Create an Order</p>
        <p>Click <span class="alert-success"> All Orders</span> to View/Edit/Delete an Order</p>
    </div>
</div>
